<?xml version="1.0"?>
<config>
    <modules>
        <ProxiBlue_ExactTarget>
            <version>1.0.0</version>
            <depends>
                <CVM_GoogleTagManager />
            </depends>
        </ProxiBlue_ExactTarget>
    </modules>
    <global>
        <blocks>
            <proxiblue_exacttarget>
                <class>ProxiBlue_ExactTarget_Block</class>
            </proxiblue_exacttarget>
        </blocks>
        <helpers>
            <proxiblue_exacttarget>
                <class>ProxiBlue_ExactTarget_Helper</class>
            </proxiblue_exacttarget>
        </helpers>
        <models>
            <proxiblue_exacttarget>
                <class>ProxiBlue_ExactTarget_Model</class>
            </proxiblue_exacttarget>
        </models>
        <resources>
            <proxiblue_exacttarget_setup>
                <setup>
                    <module>ProxiBlue_ExactTarget</module>
                </setup>
            </proxiblue_exacttarget_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <proxiblue_exacttarget>
                    <file>exacttarget.xml</file>
                </proxiblue_exacttarget>
            </updates>
        </layout>
        <events>
            <controller_front_send_response_before>
                <observers>
                    <proxiblue_exacttarget_controller_front_send_response_before>
                        <class>proxiblue_exacttarget/observer</class>
                        <method>controller_front_send_response_before</method>
                    </proxiblue_exacttarget_controller_front_send_response_before>
                </observers>
            </controller_front_send_response_before>
            <controller_action_layout_load_before>
                <observers>
                    <proxiblue_exacttarget_controller_action_layout_load_before>
                        <class>proxiblue_exacttarget/observer</class>
                        <method>controller_action_layout_load_before</method>
                    </proxiblue_exacttarget_controller_action_layout_load_before>
                </observers>
            </controller_action_layout_load_before>
            <checkout_cart_product_add_after>
                <observers>
                    <proxiblue_exacttarget_checkout_cart_product_add_after>
                        <class>proxiblue_exacttarget/observer</class>
                        <method>checkout_cart_product_add_after</method>
                    </proxiblue_exacttarget_checkout_cart_product_add_after>
                </observers>
            </checkout_cart_product_add_after>
            <cvm_googletagmanager_get_datalayer>
                <observers>
                    <proxiblue_exacttarget_cvm_googletagmanager_get_datalayer>
                        <class>proxiblue_exacttarget/observer</class>
                        <method>cvm_googletagmanager_get_datalayer</method>
                    </proxiblue_exacttarget_cvm_googletagmanager_get_datalayer>
                </observers>
            </cvm_googletagmanager_get_datalayer>
            <sales_order_place_after>
                <observers>
                    <proxiblue_exacttarget_sales_order_place_after>
                        <class>proxiblue_exacttarget/observer</class>
                        <method>sales_order_place_after</method>
                    </proxiblue_exacttarget_sales_order_place_after>
                </observers>
            </sales_order_place_after>
        </events>
    </frontend>
    <default>
        <exacttarget>
            <options>
                <connect_url>collect.igodigital.com/collect.js</connect_url>
            </options>
            <tracking>
                <enable_search>1</enable_search>
                <enable_category>1</enable_category>
                <enable_product>1</enable_product>
                <enable_cart>1</enable_cart>
                <enable_success>1</enable_success>
                <conversion_url>http://click.my.enjo.com.au/conversion.aspx</conversion_url>
            </tracking>
        </exacttarget>
    </default>
</config>